In [1]:
import pandas as pd

In [2]:
stud = pd.read_csv('student performance.csv')

In [3]:
stud.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,CGPA
0,female,group B,bachelor's degree,standard,none,72.666667
1,female,group C,some college,standard,completed,82.333333
2,female,group B,master's degree,standard,none,92.666667
3,male,group A,associate's degree,free/reduced,none,49.333333
4,male,group C,some college,standard,none,76.333333

In [17]:
stud['CGPA'] = (stud['CGPA']).astype(int)

In [18]:
stud.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,CGPA
0,female,group B,bachelor's degree,standard,none,72
1,female,group C,some college,standard,completed,82
2,female,group B,master's degree,standard,none,92
3,male,group A,associate's degree,free/reduced,none,49
4,male,group C,some college,standard,none,76

In [21]:
# I will be back
'''
waec_grades = ['A1', 'B2', 'B3', 'C4', 'C5', 'C6', 'D7', 'E8', 'F9']
stud['WAEC_Grades'] = pd.qcut(stud['CGPA'],
                              q=[0-39, 40-44, 45-49, 50-54, 55-59, 60-64, 65-69, 70-79, 80-100],
                              labels=waec_grades)
stud.head()
'''

"\nwaec_grades = ['A1', 'B2', 'B3', 'C4', 'C5', 'C6', 'D7', 'E8', 'F9']\nstud['WAEC_Grades'] = pd.qcut(stud['CGPA'],\n                              q=[0-39, 40-44, 45-49, 50-54, 55-59, 60-64, 65-69, 70-79, 80-100],\n                              labels=waec_grades)\nstud.head()\n"